<%- include("partials/header.ejs") %>

<h1 class="mb-3">Edit Post</h1>

<form action="/edit" method="POST">
  <div class="mb-3">
    <input type="text" class="form-control" id="id" name="id" value="<%= id %>" hidden/>
    <label for="title" class="form-label">Title</label>
    <input type="text" class="form-control" id="title" name="title" value="<%= title %>" required/>
  </div>
  <div class="mb-3">
    <label for="content" class="form-label">Content</label>
    <textarea class="form-control" id="content" name="content" rows="5" required><%= content %></textarea>
  </div>
  <div class="mb-3">
    <button type="submit" value="submit" class="btn btn-primary w-100">Submit</button>
  </div>
</form>

<%- include("partials/footer.ejs") %>